.mainWrap {
  position: fixed;
  z-index: 5;
  left: rem(34);
  bottom: rem(74);
  height: rem(480);
  // max-width: 650px;
  max-height: 650px;
  display: flex;
  align-items: flex-start;
  @media (max-width: $mobileWidth) {
    position: absolute;
    width: 100%;
    height: auto;
    top: rem(96);
    left: 0;
    bottom: unset;
    flex-direction: column;
    // align-items: center;
    top: rem(106);  
    max-height: unset;
    &.highLevel {
     top: rem(158);  
     .wrap {
       &.small {
        width: calc(100vw - rem(30));
        height: calc(100vw - rem(30));
        border: rem(10) solid #FFFFFF;
       }
     }
    }
  }
  .wrap {
    position: relative;
    z-index: 10;
    width: rem(480);
    height: rem(480);
    max-width: 650px;
    max-height: 650px;
    margin-right: rem(40);
    // padding: 1%;
    // background-color: #fff;
    border-radius: 40px;
    border: rem(10) solid #FFFFFF;
    border-radius: rem(40);
    overflow: hidden;
    transition: .4s;
    // filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.05)) drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.15));
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    @media (max-width: $mobileWidth) {
      display: block;
      margin: 0 auto;
      border: rem(10) solid #FFFFFF;
      border-radius: rem(20);
      // width: 100%;
      // height: 100%;
      width: calc(100vw - rem(30));
      height: calc(100vw - rem(30));
      max-height: unset;
      // margin-right: 0;
    }
    &.doubleMap {
      transform: translate(calc(-100% - rem(40)));
      @media (max-width: $mobileWidth) {
        transform: translate(0, -100%);
        border-radius: rem(10);
      }
      &.translateRight {
        transform: unset;
        // width: rem(152);
        // height: rem(152);
        transform: scale(0.5);
        transform-origin: left top;
        @media (max-width: $mobileWidth) {
          margin: rem(8) rem(15) rem(8) rem(15);
          border: rem(4) solid #FFFFFF;
          transform: scale(1);
          width: rem(100);
          height: rem(100);
          .rain {
            width: 80% !important;
            height: 80% !important;
          }
        }
      }
    }
    &.small {
      width: rem(270);
      height: rem(270);
      border: rem(5) solid #FFFFFF;
    }
    .map {
      width: 100%;
      height: 100%;
      background-image: url('../../../assets/map.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
      transition: .4s;
      // border-radius: 40px;
      .rain {
        // display: none;
        position: absolute;
        z-index: 11;
        border-top-right-radius: rem(40);
        right: 0;
        top: 0;
        width: rem(394);
        height: rem(375);
        transform: scale(0);
        transition: .4s;
        transform-origin: right top;
        @media (max-width: $mobileWidth) {
          width: rem(237);
          height: rem(226);
        }
        &.isShow {
          transform: scale(1);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      &.disabled {
        opacity: .5;
        
        &::before {
          opacity: 1;
          pointer-events: none;
        }
      }
      &::before {
        content: '';
        
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.1);
      }
    }
    .separator {
      position: absolute;
      left: -1%;
      top: -1%;
      width: 102%;
      height: 102%;
      overflow: hidden;
      border-radius: rem(40);
      @media (max-width: $mobileWidth) {
        border-radius: rem(10);
      }
      .grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: rem(40);
        @media (max-width: $mobileWidth) {
          border-radius: rem(10);
        }
        .box {
          border: .5px solid #BF54F2;
          width: 50%;
          height: 50%;
          position: relative;
          overflow: hidden;
          &:hover {
            cursor: pointer;
          }
          &::after {
            opacity: 0;
            content: '';
            width: rem(42);
            height: rem(42);
            // background-color: red;
            background-image: url('../../../assets/checked.svg');
            background-size: cover;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            transition: opacity .2s;
            @media (max-width: $mobileWidth) {
              width: 30%;
              height: 30%;
            }
          }
          &::before {
            position: absolute;
            opacity: 0;
            transition: opacity .4s;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #BF54F2 0%, #986CE7 100%);
          }
          &.checked {
            &::after {
              opacity: 1;
            }
          }
          &.checkedAll {
            &::after {
              opacity: 1;
            }
          }
          &.lighting {
            &::before {
              opacity: .5;
            }
          }
          &.unLighting {
            &::before {
              opacity: 0;
            }
          }
          &:first-child {
            border-left: none;
          }
        }
      }
    }
  }
  .timer {
    position: absolute;
    left: calc(rem(480) + rem(40));
    width: rem(240);
    top: 0;
    z-index: 1;
    opacity: 0;
    transition : .2s;
    pointer-events: none;
    &.show {
      transform: translate(0, calc(rem(240) + rem(10)));
      opacity: 1;
    }
    @media (max-width: $mobileWidth) {
      transform: translate(0) !important;
      display: flex;
      width: rem(94);
      height: rem(22);
      font-size: rem(14);
      border-radius: rem(7);
      // left: 0;
      margin: 0 0 0 rem(15);
      position: static;
    }
  }
  .maplittle {
    width: rem(152);
    height: rem(152);
    object-fit: cover;
    box-shadow: 0px 2.25376px 3.38064px rgba(0, 0, 0, 0.05), 0px 5.6344px 22.5376px rgba(0, 0, 0, 0.15);
    border-radius: rem(11.6923);
    @media (max-width: $mobileWidth) {
      margin-left: rem(15);
      margin-top: rem(15);
    }
  } 
}
.rangeSlider {
  margin-bottom: rem(20);
  transition: .2s;
  &.disable {
    pointer-events: none;
    opacity: .5;
  }
}
.col {
  display: flex;
  flex-direction: column;
  // height: 100%;
}
.grade {
  margin-left: rem(30);
  max-height: 100%;
  overflow: visible;
}
.btnWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  .btn {
    width: calc(100vw - rem(30));
    display: block;
    margin: rem(0) auto rem(0) auto;
    background-color: #986CE7;
    color: #fff;
    font-size: rem(16);
  }
  @media (min-width: $mobileWidth) {
    display: none;
  }
}
.openGrade {
  position: fixed;
  width: rem(56);
  height: rem(56);
  right: rem(15);
  top: rem(15);
  @media (min-width: $mobileWidth) {
    display: none;
  }
}
/*# sourceMappingURL=material.css.map */
