.diary {
  position: absolute;
  right: rem(30);
  top: rem(30);
  z-index: 1300;
  @media (max-width: $mobileWidth) {
    position: fixed;
    right: rem(15);
    top: rem(15);
    z-index: 1000;
  }
  .wrap {
    // width: rem(352);
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05), 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
    // transition: .4s;
    // height: rem(330);
    // display: flex;
    // flex-direction: column;
    transform-origin: top right;
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(10) 0 rem(10) 0;
      @media (max-width: $mobileWidth) {
        padding: rem(20) 0 rem(20) 0;
      }
      // transition: .4s;

      .title {
        transform-origin: center;
        transition: .4s;
      }
      img {
        margin-right: rem(10);
        width: rem(40);
      }
      svg {
        margin-right: rem(10);
        width: rem(40);
      }
      &:hover {
        cursor: pointer;
      }
    }
    .body {
      // flex: 1;
      min-height: rem(250);
      width: 100%;
      background-image: url('../../assets/bookbackground.png');
      background-size: cover;
      background-repeat: no-repeat;
      transition: .4s;
      transform-origin: top;
      .form {
        padding: 0 rem(20) 0 rem(15);
        font-size: rem(14);
        .row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          height: rem(35);
          &:not(:last-child) {
            margin-bottom: rem(15);
          }
          .title {
            width: rem(113);
            &.showSuccess {
              p {
                &::after {
                  display: block;
                  transition: .2s;
                  opacity: 1;
                }
              }
            }
            p {
              position: relative;
              display: inline-flex;
              align-items: center; 
              &::after {
                content: '';
                opacity: 0;
                display: block;
                width: rem(14);
                height: rem(10);
                position: absolute;
                right: rem(-20);
                background-image: url('../../assets/success.svg');
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
            img {
              margin-left: rem(10);
            }
          }
          input {
            width: rem(182);
            background-color: rgba(152, 108, 231, 0.15);
            border-radius: 25px;
            border: 0;
            outline: none;
            padding: rem(5) rem(15);
            text-align: right;
            transition: background-color .2s;
            &.success {
              background-color: rgba(0,0,0,0);
            }
          }
          span {
            position: absolute;
            right: rem(10);
          }
          &.temp {
            input {
              padding: rem(5) rem(30) rem(5) rem(15);
            }
          }
          &.osadki {
            input {
              padding: rem(5) rem(36) rem(5) rem(15);
            }
          }
          &.veter {
            input {
              padding: rem(5) rem(37) rem(5) rem(15);
            }
          }
          &.davl {
            input {
              padding: rem(5) rem(79) rem(5) rem(15);
            }
          }
          &.vlaga {
            input {
              padding: rem(5) rem(25) rem(5) rem(15);
            }
          }
        }
      }
    }
    .close {
      position: absolute;
      right: -.5rem;
      top: -.5rem;
      width: rem(32);
      height: rem(32);
      &:hover {
        cursor: pointer;
      }
    }
    &.isOpen {

    }
    // &.isOpen {
      
    //   .header {
    //     .title {
    //       // transform: scaleX(0);
    //       animation-name: fade;
    //       animation-delay: .4s;
    //     }
    //   }
    // }
    &.isHide {
      min-width: rem(56);
      border-radius: 50%;
      .header {
        // padding: .5rem;
        @media (max-width: $mobileWidth) {
          padding: rem(7);
          width: rem(56);
          height: rem(56);
        }
        img {
          margin-right: 0;
        }
        // .title {
        //   // display: none;
        //   transform: scale(0);
        //   animation-name: hide;
        //   // animation-delay: .4s;
        //   animation-duration: .4s;
        // }
      }
      // .body {
      //   transform: scaleY(0);
      //   height: 0;
      // }
      
    }
  }
}
@keyframes fade {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
@keyframes hide {
  from {
    display: block;
  }
  to {
    display: none;
  }
}