.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-list-leave-active {
  position: absolute;
}
.fade-list-enter, .fade-list-leave-to {
  opacity: 0;
}

@keyframes wrongAnimation {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-6.93deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(6.93deg);
  }

  100% {
    transform: rotate(0);
  }
}