@use 'sass:math';

@function rem($value, $delimeter: 16) {
  @return math.div($value, $delimeter) * 1rem
};

@mixin defaultFontSize {
  font-size: rem(18);
  line-height: 1.1666666667;
}

@mixin container {
  width: 100%;
  padding: 0 rem(30);
}

@mixin containerMobile {
  width: 100%;
  padding: 0 rem(15);
}

$tabletWidth: 900px;
$mobileWidth: 450px;

$lesson1bgColor: #DEF0FA;
$lesson2bgColor: #EBD6F2;
$lesson3bgColor: #D2D5F2;
$lesson5bgColor: #EBD6F2;
$lesson6bgColor: #D2D5F2;
