@import './_normalize.scss';
@import './_variables.scss';
@import './_transitions.scss';
@import './_fonts.scss';

* {
  box-sizing: border-box;
}

html, #app {
  height: 100%;
}

body {
  font-size: rem(18);
  line-height: 1.1666666667;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}
