@import './_normalize.scss';
@import './_variables.scss';
@import './_transitions.scss';
@import './_fonts.scss';

* {
  box-sizing: border-box;
}

html,
#app {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  font-size: rem(18);
  line-height: 1.1666666667;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  // height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.comics {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & div {
    max-height: 70%;
    @media screen and (min-width: 1000px) {
      height: 100vh;
    }
    @media screen and (max-width: 450px) {
      height: 60vh;
    }
  }
  & picture {
    margin-top: 50%;
    & img {
      max-height: 100%;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 450px) {
    margin-bottom: rem(200) !important;
    position: absolute !important;
    top: 0;
  }
}
