@import './_normalize.scss';
@import './_variables.scss';
@import './_transitions.scss';
@import './_fonts.scss';

* {
  box-sizing: border-box;
}

html,
#app {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  font-size: rem(18);
  line-height: 1.1666666667;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  // height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slick-list {
  height: 90%;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
}
.slick-track {
  display: flex !important;
  align-items: flex-end;
  //height: 100%;
}
.slick-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
}
.slick-dots {
  position: unset !important;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  height: rem(6);
  bottom: 0;
  margin-bottom: rem(46);
  li {
    margin: rem(0) rem(5);
    width: unset !important;
    height: unset !important;
    &.slick-active {
      button {
        &:before {
          transform: scale(1.2);
        }
      }
    }
    button {
      padding: 0 !important;
      width: rem(6);
      height: rem(6);
      position: relative;
      transition: .2s;
      &:before {
        transition: .2s;
        width: 100% !important;
        height: 100% !important;
        font-size: 0;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
}
.comics {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & div {
    max-height: 70%;
    @media screen and (min-width: 1000px) {
      height: 100vh;
    }
    @media screen and (max-width: 450px) {
      height: 60vh;
    }
  }
  & picture {
    margin-top: 50%;
    & img {
      max-height: 100%;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 450px) {
    margin-bottom: rem(200) !important;
    position: absolute !important;
    top: 0;
  }
}
