.outer {
  height: 100vh;
  width: 100vw;
  z-index: 1200;
  position: fixed;
  pointer-events: none;
}

.main {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  pointer-events: none;
  z-index: 1200;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  right: rem(30);
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  bottom: rem(92);
  overflow: auto;
  max-height: calc(100vh - rem(92));
  @media screen and (max-width: 450px) {
    right: 0;
    position: fixed;
    bottom: 12vh;
    max-height: 100%;
  }
}

.overlay {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  pointer-events: none;
  &.opened {
    @media screen and (max-width: 450px) {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(12.5px);
      position: fixed;
      pointer-events: all;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.wrapper {
  pointer-events: all;
  overflow: auto;
  & span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 100%;
    position: relative;
  }
  &.hidden {
    @media screen and (max-width: 450px) {
      display: none;
    }
  }
  @media screen and (max-width: 450px) {
    min-height: unset;
    overflow-y: auto;
    & span {
      max-width: 100%;
    }
  }
}

.popupWrap {
  margin-bottom: rem(10);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
    opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  border-radius: rem(20);
  overflow: hidden;
  user-select: none;
  &:last-child {
    border-radius: rem(20) rem(20) rem(20) 0;
  }
  @media screen and (max-width: 450px) {
    width: 94%;
    position: relative;
    left: 3%;
  }
}

.popup {
  width: rem(280);
  padding: rem(15);
  background: #fff;
  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.text {
  font-weight: 500;
  font-size: rem(14);
  line-height: rem(19);
  color: #000;
}

.pushMsg {
  width: 80%;
  position: fixed;
  top: rem(20);
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
  background-color: #fff;
  border-radius: rem(10);
  box-shadow: 0px rem(2) rem(3) rgba(0, 0, 0, 0.05), 0px rem(5) rem(20) rgba(0, 0, 0, 0.15);
  padding: rem(10) rem(15);
  font-size: rem(14);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  &.animating {
    transform: translateX(-50%) translateY(-10%);
  }
}

.first {
  margin-top: 8rem;
}