.outer {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 11rem;
  pointer-events: none;

  &.hidden {
    //&:after {
    //  opacity: 0;
    //  transform: translateY(2rem);
    //}
  }
}

.skb {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 1rem;
  width: 10.7rem;
  height: 18.1rem;
  background: url(./assets/skb.png) no-repeat center;
  background-size: cover;
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: auto;
}

.wrapper {
  position: absolute;
  //padding-bottom: 10rem;
  bottom: 10rem;
  //left: -36rem;
  right: 10rem;
  padding-top: 10rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 100%;
  pointer-events: auto;
  //pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  position: relative;
  //pointer-events: auto;
}
.listItem {
  transition: transform .3s ease, opacity .3s ease;
  display: inline-block;

  &:hover {
    z-index: 2000;
  }
}
