.desktop {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: radial-gradient(169.72% 78.61% at 50% 21.39%, #FFD951 38.54%, #FFA800 75.52%);
  .desktopWrap {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  &:hover {
   cursor: grab;
  }
  .metaInfo {
    width: 100%;
    position: absolute;
    top: rem(47);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    .time {
      font-size: rem(58);
      //line-height: 2;
      font-weight: 700;
    }
    .weather {
      display: flex;
      align-items: center;
      &Icon {
        margin-right: rem(10);
        width: rem(27);
        height: rem(24);
      }
      &Number {
        font-weight: 400;
        margin: 0;
        padding: 0;
      }
    }
  }
  .content {
    padding: 0 rem(15);
    &Wrap {
      height: 100%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .slickWrap {
        height: 100%;
      }
      .search {
        width: rem(259);
        position: absolute;
        bottom: rem(150);
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        z-index: 10;
      }
    }
    .apps {
      display: flex;
      justify-content: center;
      margin-top: rem(40);
      .wrapApp {
        position: relative;
        width: rem(50);
        height: rem(50);
        margin: rem(0) rem(10);
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        &:hover {
          cursor: pointer;
        }
        &:after {
          position: absolute;
          content: '';
        }
        .voice {
          position: absolute;
          width: rem(50);
          height: rem(50);
          top: 0;
          left: 0;
          border-radius: rem(50);
          border: rem(1) solid #fff;
          transform: scale(.3);
          animation-name: voiceEcho;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          z-index: 1;
          &.one {
            animation-delay: .1s;
          }
          &.two {
            animation-delay: .3s;
          }
          &.third {
            animation-delay: .5s;
          }
        }
        img {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 2;
          -webkit-user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }
      }
    }
  }
}
@keyframes voiceEcho{
  from {
    transform: scale(.5);
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}