.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: $lesson3bgColor;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10%;
    width: rem(754);
    height: 100%;
    background-image: url('../assets/bg.svg');
    background-size: 146% 146%;
    background-position: -12% 43%;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}

.modalImg {
  width: rem(81);
  height: rem(81);
}

.modalInner {
  padding: rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalText {
  font-size: rem(16);
  line-height: rem(22);
  text-align: center;
}

.stars {
  position: absolute;
  top: rem(15);
  left: rem(10);
  z-index: 10;
  width: rem(320);
  height: rem(96);
}

.basket {
  position: absolute;
  bottom: rem(30);
  left: rem(30);
  z-index: 100;
  width: rem(86);
  height: rem(115);
}

.window {
  width: rem(645);
  height: rem(497);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(205);
  margin-top: rem(35);
  z-index: 99;
  background-color: #fff;
  border-radius: rem(20);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05), 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.controls {
  position: absolute;
  top: rem(18);
  left: rem(15);
  width: rem(62);
  height: rem(16);
}

.title {
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(22);
  color: #000;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: rem(20);
  margin-top: rem(61);
  padding: rem(20);
}

.droparea {
  border-radius: rem(20);
  width: rem(188);
  height: rem(188);
  background-image: url('../assets/placeholder.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.stack {
  position: absolute;
  top: rem(256);
  right: rem(56);
  width: rem(281);
  height: rem(159);
  z-index: 10;
}

.card {
  position: absolute;
  top: rem(60);
  right: rem(70);
  width: rem(249);
  height: rem(249);
  z-index: 99;
  box-shadow: 0px 2.25376px 3.38064px rgba(0, 0, 0, 0.05), 0px 5.6344px 22.5376px rgba(0, 0, 0, 0.15);
  // transform-origin: center center !important;
}

.popupMsg {
  position: absolute;
  bottom: rem(92);
  overflow: scroll;
  right: rem(30);
  z-index: 999;
}

.prof {
  position: absolute;
  bottom: rem(103);
  right: rem(320);
  width: rem(62);
  height: rem(62);
  background-image: url('../../../assets/img/prof.png');
  background-size: contain;
  z-index: 999;
}

.btn {
  position: absolute;
  bottom: rem(30);
  right: rem(30);
  z-index: 999;
}

.achieve {
  width: rem(96);
  height: rem(94);
}

.modalTextBottom {
  margin-top: 0;
  margin-bottom: rem(47);
}
