.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: $lesson3bgColor;
  background-image: url('../assets/bg.png');
  background-size: cover;
  @media screen and (max-width: 450px) {
    height: unset;
    min-height: 100vh;
    background-image: unset;
  }
}

.modalImg {
  width: rem(81);
  height: rem(81);
}

.modalInner {
  padding: rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalText {
  font-size: rem(16);
  line-height: rem(22);
  text-align: center;
}

.progress {
  position: absolute;
  top: rem(30);
  left: rem(30);
  z-index: 10;
  @media screen and (max-width: 450px) {
    top: rem(15);
    left: rem(15);
  }
}

.basket {
  position: absolute;
  bottom: rem(30);
  left: rem(30);
  z-index: 0;
  width: rem(83);
  height: rem(114);
  @media screen and (max-width: 450px) {
    position: fixed;
    width: rem(53);
    height: rem(70);
    left: rem(15);
    bottom: rem(15);
  }
}

.window {
  width: rem(645);
  height: rem(497);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(205);
  margin-top: rem(35);
  z-index: 99;
  background-color: #fff;
  border-radius: rem(20);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05), 0px 5px 20px rgba(0, 0, 0, 0.15);
  @media screen and (min-width: 451px) {
    &.level3 {
      width: rem(700);
      height: rem(421);
      left: rem(170);
    }
  }
  @media screen and (max-width: 450px) {
    position: unset;
    height: 100%;
    background: unset;
    box-shadow: unset;
  }
}

.controls {
  position: absolute;
  top: rem(18);
  left: rem(15);
  width: rem(62);
  height: rem(16);
  @media screen and (max-width: 450px) {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(22);
  color: #000;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  @media screen and (max-width: 450px) {
    display: none;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: rem(20);
  column-gap: rem(20);
  margin-top: rem(61);
  padding: rem(20);
  &.level1 {
    max-width: rem(436);
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 450px) {
    position: absolute;
    left: 0;
    top: rem(35);
    width: 100vw;
    margin-top: 0;
    padding: rem(15);
    row-gap: unset;
    column-gap: unset;
    &.level1 {
      max-width: unset;
    }
  }
}

.droparea {
  border-radius: rem(20);
  width: rem(188);
  height: rem(188);
  background-image: url('../assets/placeholder.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-width: 451px) {
    &.level3 {
      width: rem(150);
      height: rem(150);
      background-image: url('../assets/placeholder-sm.svg');
      background-repeat: no-repeat;
      background-size: contain;
      &:last-child {
        margin-right: auto;
      }
    }
  }
  @media screen and (max-width: 450px) {
    background-image: url('../assets/placeholder-mobile.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center center;
    border: 1px dashed #fff;
    width: 44vw;
    height: 18vh;
    margin-bottom: rem(15);
    position: relative;
    &.level3 {
      height: 16vh;
      &:last-child {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

.stack {
  position: absolute;
  top: rem(140);
  right: rem(0);
  width: rem(281);
  height: rem(159);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
  &.visible {
    opacity: 1;
  }
  @media screen and (max-width: 450px) {
    display: none;
  }
}

.cardWrapper {
  position: absolute;
  top: rem(25);
  right: rem(50);
  z-index: 99;
  width: rem(188);
  height: rem(188);
  &.level3 {
    width: rem(150);
    height: rem(150);
    right: rem(70);
    top: rem(35);
  }
  
  @media screen and (max-width: 450px) {
    position: fixed;
    left: 30%;
    bottom: -8%;
    right: unset !important;
    top: unset !important;
  }
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
  &:nth-child(1) {
    box-shadow: 0px rem(2.25) rem(3.38) rgba(0, 0, 0, 0.05), 0px rem(5.63) rem(15) rgba(0, 0, 0, 0.12);
  }
  &:nth-child(2) {
    box-shadow: 0px rem(2.25) rem(3.38) rgba(0, 0, 0, 0.05), 0px rem(5.63) rem(15) rgba(0, 0, 0, 0.12);
  }
  @media screen and (min-width: 451px) {
    &.level3 {
      width: rem(150);
      height: rem(150);
    }
  }
  @media screen and (max-width: 450px) {
    width: 44vw;
    height: 18vh;
    &.level3 {
      height: 16vh;
    }
  }
}

.popupMsg {
  position: absolute;
  bottom: rem(92);
  overflow: scroll;
  right: rem(30);
  z-index: 0 !important;
  overflow: auto;
  max-height: calc(100vh - 25rem);
  -webkit-mask-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 7%,
    rgba(0, 0, 0, 1) 100%
  );
  &.full {
    -webkit-mask-image: unset;
    max-height: calc(100vh - 7rem);
  }
  @media screen and (max-width: 450px) {
    z-index: 999 !important;
  }
}

.btn {
  position: absolute;
  bottom: rem(30);
  right: rem(30);
  z-index: 1300;
  @media screen and (max-width: 450px) {
    left: rem(15);
    bottom: rem(20);
    right: unset;
    position: fixed;
  }
}

.achieveModal {
  padding: rem(40) rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: rem(20);
  &.gold {
    background: linear-gradient(
        180deg,
        rgba(255, 204, 0, 0.15) 0%,
        rgba(255, 255, 255, 0.15) 25.47%
      ),
      #fff;
  }
  &.silver {
    background: linear-gradient(180deg, rgba(100, 120, 143, 0.15) 0%, rgba(255, 255, 255, 0) 26.27%),
      #fff;
  }
  @media screen and (max-width: 450px) {
    padding: rem(30) rem(15);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.achieve {
  width: rem(151);
  height: rem(151);
  margin-bottom: rem(20);
  transform: scale(0);
  animation-name: scale;
  animation-duration: .3s;
  animation-delay: .1s;
  animation-timing-function: cubic-bezier(0.81, -0.11, 0.35, 1.26);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modalTextAchieve {
  font-weight: 500;
  font-size: rem(21);
  line-height: rem(29);
  text-align: center;
  @media screen and (max-width: 450px) {
    font-size: rem(16);
    line-height: rem(22);
  }
}

.modalTextBottom {
  margin-top: 0;
  margin-bottom: rem(38);
}
