.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: $lesson2bgColor;
  background-image: url('../assets/bg.png');
  background-size: cover;
  @media screen and (max-width: 450px) {
    padding-left: rem(15);
    padding-right: rem(15);
    background-image: unset;
    overflow-y: auto;
  }
}

.modalInner {
  padding: rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalText {
  font-size: rem(16);
  line-height: rem(22);
  text-align: center;
}

.starsWrapper {
  position: absolute;
  background-color: #fff;
  width: rem(280);
  height: rem(56);
  top: rem(30);
  left: rem(30);
  z-index: 10;
  display: flex;
  align-items: center;
  border-radius: rem(32);
  box-shadow: 0px rem(2) rem(3) rgba(0, 0, 0, 0.05), 0px rem(5) rem(20) rgba(0, 0, 0, 0.15);
  @media screen and (max-width: 450px) {
    width: rem(240);
    height: rem(48);
    top: rem(15);
    left: rem(15);
  }
}

.stars {
  margin-left: rem(4);
  width: rem(257);
  height: rem(48);
  @media screen and (max-width: 450px) {
    width: rem(224);
  }
}

.cod {
  position: absolute;
  top: rem(30);
  right: rem(30);
  z-index: 4;
  width: rem(149);
  height: rem(179);
  @media screen and (max-width: 450px) {
    width: rem(58);
    height: rem(71);
    top: rem(15);
    right: rem(15);
  }
}

.cardWrapper {
  width: rem(723);
  height: rem(472);
  display: flex;
  align-items: center;
  row-gap: rem(30);
  column-gap: rem(30);
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(80);
  margin-top: rem(26);
  z-index: 99;
  @media screen and (max-width: 450px) {
    width: 92%;
    left: 4%;
    row-gap: 4%;
    column-gap: 4%;
    height: 60vh;
    margin-top: 0;
    top: rem(100);
    transform: unset;
  }
}

.btn {
  position: absolute;
  bottom: rem(30);
  right: rem(30);
  z-index: 1300;
  @media screen and (max-width: 450px) {
    left: rem(15);
    bottom: rem(30);
    right: unset;
    position: fixed;
  }
}

.achieveModal {
  padding: rem(40) rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: rem(20);
  &.gold {
    background: linear-gradient(
        180deg,
        rgba(255, 204, 0, 0.15) 0%,
        rgba(255, 255, 255, 0.15) 25.47%
      ),
      #fff;
  }
  &.silver {
    background: linear-gradient(180deg, rgba(100, 120, 143, 0.15) 0%, rgba(255, 255, 255, 0) 26.27%),
      #fff;
  }
  @media screen and (max-width: 450px) {
    padding: rem(30) rem(15);
  }
}

.achieve {
  width: rem(151);
  height: rem(151);
  margin-bottom: rem(20);
}

.modalTextAchieve {
  font-weight: 500;
  font-size: rem(21);
  line-height: rem(29);
  text-align: center;
  @media screen and (max-width: 450px) {
    font-size: rem(16);
    line-height: rem(22);
  }
}

.modalTextBottom {
  margin-top: 0;
  margin-bottom: rem(47);
}