.wrapper {
  height: 100vh;
  overflow: auto;
  position: relative;
  background-color: $lesson6bgColor;
  background-image: url('../assets/bg.png');
  background-size: cover;
  @media screen and (max-width: 450px) {
    padding-left: rem(15);
    padding-right: rem(15);
    background-image: unset;
    overflow-y: auto;
  }
}

.modalInner {
  padding: rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker {
  width: rem(81);
  height: rem(81);
}

.modalText {
  font-size: rem(16);
  line-height: rem(22);
  text-align: center;
}

.progress {
  position: absolute;
  top: rem(30);
  left: rem(30);
  z-index: 10;
  @media screen and (max-width: 450px) {
    top: rem(15);
    left: rem(15);
  }
}

.btn {
  position: fixed;
  bottom: rem(30);
  right: rem(30);
  z-index: 1300;
  @media screen and (max-width: 450px) {
    left: rem(15);
    bottom: rem(20);
    right: unset;
    position: fixed;
  }
}

.achieveModal {
  padding: rem(40) rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: rem(20);
  &.gold {
    background: linear-gradient(
        180deg,
        rgba(255, 204, 0, 0.15) 0%,
        rgba(255, 255, 255, 0.15) 25.47%
      ),
      #fff;
  }
  &.silver {
    background: linear-gradient(180deg, rgba(100, 120, 143, 0.15) 0%, rgba(255, 255, 255, 0) 26.27%),
      #fff;
  }
  @media screen and (max-width: 450px) {
    padding: rem(30) rem(15);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.achieve {
  width: rem(151);
  height: rem(151);
  margin-bottom: rem(20);
  transform: scale(0);
  animation-name: scale;
  animation-duration: .3s;
  animation-delay: .1s;
  animation-timing-function: cubic-bezier(0.81, -0.11, 0.35, 1.26);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modalTextAchieve {
  font-weight: 500;
  font-size: rem(21);
  line-height: rem(29);
  text-align: center;
  @media screen and (max-width: 450px) {
    font-size: rem(16);
    line-height: rem(22);
  }
}

.modalTextBottom {
  margin-top: 0;
  margin-bottom: rem(47);
}

.window {
  width: rem(816);
  height: rem(497);
  position: absolute;
  top: rem(135);
  left: rem(30);
  z-index: 99;
  background-color: #fff;
  border-radius: rem(20);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05), 0px 5px 20px rgba(0, 0, 0, 0.15);
  padding: rem(15);
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  @media screen and (max-width: 450px) {
    width: 100%;
    left: 0;
    top: rem(80);
    margin-bottom: 75%;
    position: relative;
    padding-bottom: rem(0.2);
    height: rem(497);
  }
}

.controls {
  position: absolute;
  top: rem(18);
  left: rem(15);
  width: rem(62);
  height: rem(16);
  @media screen and (max-width: 450px) {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(22);
  color: #000;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  @media screen and (max-width: 450px) {
    position: unset;
    text-align: center;
    transform: unset;
    margin: 0;
  }
}

.outer {
  overflow-y: hidden;
  overflow-x: scroll;
  height: 92%;
  margin-top: 5%;
  scrollbar-width: thin;
  position: relative;
  @media screen and (max-width: 450px) {
    height: 89%;
  }
}

.outer::-webkit-scrollbar-track {
  border-radius: rem(20);
  background-color: #fff;
  height: rem(10);
}

.outer::-webkit-scrollbar {
  background-color: #fff;
  height: rem(10);
}

.outer::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: rem(20);
  height: rem(10);
}

.inner {
  display: flex;
  width: rem(1170);
}

.column {
  width: rem(180);
  margin-right: rem(15);
  &:nth-child(1) {
    margin-left: rem(5);
    & .columnTitle {
      background-color: #ededed;
    }
  }
  &:nth-child(2) {
    & .columnTitle {
      background-color: #def0fa;
    }
  }
  &:nth-child(3) {
    & .columnTitle {
      background-color: #fdf0bc;
    }
  }
  &:nth-child(4) {
    & .columnTitle {
      background-color: #ffeddd;
    }
  }
  &:nth-child(5) {
    & .columnTitle {
      background-color: #ecfdf0;
    }
  }
  &:nth-child(6) {
    margin-right: rem(5);
    & .columnTitle {
      background-color: #f0e1fe;
    }
  }
}

.columnTitle {
  font-weight: 700;
  font-size: rem(12);
  line-height: rem(16);
  color: #000;
  padding: rem(7) rem(15);
  border-radius: rem(10);
  margin-bottom: rem(10);
  width: rem(180);
  user-select: none;
}

.ghostCard {
  opacity: 0.5;
}

.draggable {
  height: 100%;
  & :global(.sortable-chosen) {
    & .task {
      box-shadow: unset;
      border: 1px solid #ccc;
      font-size: rem(10);
      line-height: rem(15);
    }
  }
}

.draggableInner {
  margin-bottom: rem(10);
}

.task {
  cursor: move;
  font-weight: 700;
  font-size: rem(10.5);
  line-height: rem(15);
  padding: rem(10) rem(13);
  color: #000;
  background: #fff;
  box-shadow: 0px rem(2) rem(3) rgba(0, 0, 0, 0.05), 0px rem(3) rem(10) rgba(0, 0, 0, 0.1);
  border-radius: rem(20);
  width: 100%;
  height: rem(65);
  margin: 0;
  user-select: none;
}
