.wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: $lesson6bgColor;
  background-image: url('../assets/bg.png');
  background-size: cover;
  @media screen and (max-width: 450px) {
    padding-left: rem(15);
    padding-right: rem(15);
    background-image: unset;
    overflow-y: auto;
  }
}

.modalInner {
  padding: rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalText {
  font-size: rem(16);
  line-height: rem(22);
  text-align: center;
}

.starsWrapper {
  position: absolute;
  background-color: #fff;
  width: rem(280);
  height: rem(56);
  top: rem(30);
  left: rem(30);
  z-index: 10;
  display: flex;
  align-items: center;
  border-radius: rem(32);
  box-shadow: 0px rem(2) rem(3) rgba(0, 0, 0, 0.05), 0px rem(5) rem(20) rgba(0, 0, 0, 0.15);
  @media screen and (max-width: 450px) {
    width: rem(240);
    height: rem(48);
    top: rem(15);
    left: rem(15);
  }
}

.stars {
  margin-left: rem(4);
  width: rem(257);
  height: rem(48);
  @media screen and (max-width: 450px) {
    width: rem(224);
  }
}

.btn {
  position: absolute;
  bottom: rem(30);
  right: rem(30);
  z-index: 1300;
  @media screen and (max-width: 450px) {
    left: rem(15);
    bottom: rem(30);
    right: unset;
    position: fixed;
  }
}

.achieveModal {
  padding: rem(40) rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 204, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 25.47%),
    #ffffff;
  border-radius: rem(20);
  @media screen and (max-width: 450px) {
    padding: rem(30) rem(15);
  }
}

.achieve {
  width: rem(151);
  height: rem(151);
  margin-bottom: rem(20);
}

.modalTextAchieve {
  font-weight: 500;
  font-size: rem(21);
  line-height: rem(29);
  text-align: center;
  @media screen and (max-width: 450px) {
    font-size: rem(16);
    line-height: rem(22);
  }
}

.modalTextBottom {
  margin-top: 0;
  margin-bottom: rem(47);
}

.window {
  width: rem(816);
  height: rem(497);
  position: absolute;
  top: rem(135);
  left: rem(30);
  z-index: 99;
  background-color: #fff;
  border-radius: rem(20);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05), 0px 5px 20px rgba(0, 0, 0, 0.15);
  padding: rem(15);
  @media screen and (max-width: 450px) {
    width: 100%;
    left: 0;
    top: 10%;
    margin-bottom: 100%;
    position: relative;
    padding-bottom: rem(0.2);
  }
}

.controls {
  position: absolute;
  top: rem(18);
  left: rem(15);
  width: rem(62);
  height: rem(16);
  @media screen and (max-width: 450px) {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: rem(16);
  line-height: rem(22);
  color: #000;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  @media screen and (max-width: 450px) {
    position: unset;
    text-align: center;
    transform: unset;
    padding: rem(10);
  }
}

.outer {
  overflow-y: hidden;
  overflow-x: scroll;
  height: 92%;
  margin-top: 5%;
  scrollbar-width: thin;
}

.outer::-webkit-scrollbar-track {
  border-radius: rem(20);
  background-color: #fff;
  height: rem(10);
}

.outer::-webkit-scrollbar {
  background-color: #fff;
  height: rem(10);
}

.outer::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: rem(20);
  height: rem(10);
}

.inner {
  display: flex;
  gap: rem(15);
  width: rem(1000);
}

.column {
  width: rem(180);
}

.ghostCard {
  opacity: 0.5;
  background: #f7fafc;
  border: 1px solid #4299e1;
}

.task {
  font-weight: 700;
  font-size: rem(12);
  line-height: rem(16);
  color: #000;
}
