.popupWrap {
  padding-bottom: 1.4rem;
}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 36rem;
  min-width: 36rem;
  padding: 2rem;

  background: rgba(255, 255, 255, 0.95);
  //backdrop-filter: blur(50px);
  &.maxWidthNone {
    max-width: none;
  }
  &.popupMode {
    border-radius: 2rem 2rem 0 2rem;
  }

  &.black {
    background-color: black;
  }

  &.highlight {
  }
}
.button {
  font-weight: 700;
}

.content {
  white-space: pre-line;
  word-break: break-word;
  &.contentMode {
    //color: $gray;
    opacity: 0.3;
  }
  &.emojiFz {
    font-size: 3rem;
    line-height: 1.3;
  }
}

.btnTextWrapp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  svg {
    margin-left: 1rem;
    margin-top: -0.5rem;
  }
}

.btnText {
  position: relative;
  color: #fff;
  padding: 0.5rem 2rem;
  background-color: blue;
  white-space: pre;
  &.opacity04 {
    opacity: 0.4;
  }
}

.mb20 {
  margin-bottom: 1rem;
}

.command {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  svg {
    margin: 0 1rem;
  }
}
